@import "styles/settings";

$slide-height: 40vh;

.carouselContainer {
  position: relative; // Must be relative so the previous/next buttons can be positioned absolutely
  max-height: 500px;
  height: $slide-height;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.carouselRight {
  right: 0;
  top: 40%;
  z-index: 10;
  position: absolute !important;
}

.carouselLeft {
  left: 0;
  top: 40%;
  z-index: 10;
  position: absolute !important;
}

.carouselImage {
  height: $slide-height;
  width: 100%;
  overflow-x: hidden;
}
