@import "styles/settings";

.heroImage {
  background-color: $body-color;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 8px 0 6px;
  min-height: 100vh;
  color: $dark;
};

.heroOverlay {
  @extend %overlay;
  top: 200px;
  padding: 8px 0 0 0;
  text-align: center;

  .brandonIntro {
    width: 600px;
    max-width: 100%;
  }

  .header {
    &:not(.fixed) {
      background-color: transparent; // remove the background color while not fixed
      position: relative;
    }

    &.fixed {
      position: fixed;
      top: 0;

      nav {
        width: 100%; // Max width means the inner contents have room to be right aligned
      }
    }

    nav {
      // HACKY: using the EXACT width so the animation is smooth
      width: 182px; // Shrink the width so it is no longer right aligned. Must be an absolute value so we can animate it.
      transition: width .3s ease-in-out;
    }
  };
}

.projectSection {
  padding: 40px 0 25px;

  .projectImg {
    max-height: 200px;
    object-fit: cover;
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
