@import "settings"; // import settings first so it can override the bootstrap defaults
@import "typography";

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
}

html,
body,
#root {
  height: 100%
}

.container {
  max-width: $max-width;
  margin: auto;
  position: relative;
}
