@import "styles/settings";

.closeButton {
  position: absolute;
  right: 16px;
  top: 16px;
  color: $gray-300;
}

.carouselContainer {
  position: relative;
  min-height: 50vh;
  height: 65vh;
}

.carouselRight {
  right: 0;
  top: 40%;
  z-index: 10;
  position: absolute !important;
}

.carouselLeft {
  left: 0;
  top: 40%;
  z-index: 10;
  position: absolute !important;
}

.carouselImage {
  height: 80%;
  width: auto;
  overflow-x: hidden;
}
