@import "styles/settings";

.header {
  @extend %overlay;

  position: sticky;
  top: 0;
  padding: 10px 0;

  .container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .brandonBrand {
    font-family: "Lato", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;

    @include screen-md {
      font-size: 1.5rem;
    }

    &:hover {
      text-shadow: 2px 2px $brandon-red;
    }
  }

  .pageNavigation {
    flex-grow: 1;
    align-self: end;
    text-align: end;

    > :not(:last-child) {
      // Add spacing between the buttons
      margin-right: 10px;
    }
  }

  .resumeButton * {
    vertical-align: middle;
  }
};
