.stuckButton {
    animation: slide-left .3s ease-in-out;
    position: fixed;
    top: 0;
    width: fit-content;
    margin-top: 0px;
    
}

.notStuckButton .buttonStyle {
    margin: 0px 5px;
}

.stuckButton .darkenStyle {
    background-color: rgba(50, 50, 50, 0.5);
    transition: background-color;
    transition-duration: 1s;
}

.notStuckButton {
    display: flex;
    justify-content: center;
}

@keyframes slide-left {
    0% {
        min-width: 100%;
    }
    100% {
        min-width: 0;
    }
}