.carouselContainer {
    position: relative;
    min-height: 50vh;
    height: 65vh;
}

.carouselRight {
    right: 0;
    top: 40%;
    z-index: 10;
    position: absolute !important;
}

.carouselLeft {
    left: 0;
    top: 40%;
    z-index: 10;
    position: absolute !important;
}

.carouselImage {
    max-height: 85%;
    width: auto;
    overflow-x: hidden;
}