$max-width: 1280px;

$brandon-red: rgb(175, 0, 0);
$brandon-gray: rgb(150, 150, 150);

// Bootstrap overrides
$primary:       #73211e;
$secondary:     #cccccc;
$light:         #eaeaea;
$red:           $brandon-red;
